{{> _header_errors}}
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">401</span>
        <div class="mb-4 lead">Sorry, this page requires you to log in.</div>
      </div>
    </div>
  </div>
</div>
