{{> _header_errors}}
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">500</span>
        {{#errors}}
        <div class="mb-4 lead">{{Message}}</div>
        {{/errors}}
      </div>
    </div>
  </div>
</div>
